pipeline/parent_Get_List_Of_Files_ForLoad.json
{
	"name": "parent_Get_List_Of_Files_ForLoad",
	"properties": {
		"activities": [
			{
				"name": "Meta_Get_List_Of_Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_azure_blob_storage_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "execute_child_ForEach",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "filter_fact_internetsales_meta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "child_ForEach_Load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"FileList": {
							"value": "@activity('filter_fact_internetsales_meta').output.value",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "filter_fact_internetsales_meta",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Meta_Get_List_Of_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Meta_Get_List_Of_Files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'FactInternetSales_')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}