pipeline/SQLOnPremIncremental.json
{
	"name": "SQLOnPremIncremental",
	"properties": {
		"activities": [
			{
				"name": "LegacySensorReadingLastInserted",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select *\nfrom IncrementalWatermarks\nwhere TableName = 'LegacySensorReadings'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "IncrementalWatermarksDS",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "MaxLegacySensorReadingId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select max(id) as MaxId from LegacySensorReadings",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "OnPremiseLegacySensorReadingDS",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "LegacySensorReadings",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "MaxLegacySensorReadingId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LegacySensorReadingLastInserted",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select *\nfrom LegacySensorReadings\nwhere\nid > @{activity('LegacySensorReadingLastInserted').output.firstRow.LastInsertedId}\nand id <= @{activity('MaxLegacySensorReadingId').output.firstRow.MaxId}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ReadingId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ReadingId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ReadingDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ReadingDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "LocationId",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "LocationId",
									"type": "Int16",
									"physicalType": "smallint"
								}
							},
							{
								"source": {
									"name": "PollutionLevel",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "PollutionLevel",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OnPremiseLegacySensorReadingDS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureLegacySensorReadingDS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UpdateLegacySensorReadingLastInserted",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LegacySensorReadings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spUpdateIncrementalWatermark]",
					"storedProcedureParameters": {
						"id": {
							"value": {
								"value": "@{activity('MaxLegacySensorReadingId').output.firstRow.MaxId}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"tableName": {
							"value": "LegacySensorReadings",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabaseLS",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}